In [16]:
import pandas as pd
import numpy as np

In [10]:
sample = pd.read_excel("random100edited.xlsx")

In [11]:
sample

,PMID,Index,Candidates,Coordinates,Sentence,Place_or_no,Correct_or_no,Reason_type,Reason,Unnamed: 9
0,10552319,3,"Quebec, QC, Canada","-71.219,46.813","According to the Quebec Classification System,...",N,N,M,method,NaN
1,8934954,2,"Wells, Somerset, UK|Wells, ME, USA","-2.648,51.209|-70.591,43.322",Although his life ended tragically in 1848--an...,N,N,P,people,NaN
2,11591130,7,"Homer, LA, USA|Homer, AK, USA","-93.056,32.792|-151.546,59.645",Neither Homer altered the agonist profiles of ...,N,N,P,people,NaN
3,23167678,3,"Basel, Switzerland","7.581,47.56",The hypothesis of this study was that low-curr...,Y,Y,N,correct,NaN
4,6143329,3,Serbia|Montenegro,-|-,Norepinephrine levels were elevated in SCG and...,N,N,B,biological term,Srbija i Crna GoraÂ (SCG)
5,15001970,12,UK|USA,-|-,Clinically relevant interactions with other dr...,N,N,M,method,NaN
6,26131722,5,"Melbourne, VIC, Australia","144.963,-37.814",We developed a continuous-time structured HMM ...,Y,Y,N,correct,NaN
7,10216372,1,"Krakow, Poland","19.96,50.06",The aim of the study was to evaluate the relat...,Y,Y,N,correct,"Poland, Polska"
8,19841337,1,"San Diego, CA, USA","-117.162,32.716",To quantify the safety and efficiency of Postg...,Y,Y,N,correct,NaN
9,21665017,10,"Shanghai, China","121.47,31.23",This is the first study to investigate the exp...,Y,Y,N,correct,NaN
10,12347136,16,Armenia|Russia|Latvia|Uzbekistan|Estonia|Lithu...,-|-|-|-|-|-|-|-|-|-|-|-|-|-,These changes occurred during the mid-1980s an...,Y,Y,N,correct,Soviet Union
11,26143942,2,"Benin City, Edo State, Nigeria","5.627,6.335","Article chosen Chamberlain JM, Okada P, Holsti...",N,N,P,people,or method
12,10095331,1,"Travis AFB, Fairfield, CA, USA","-121.939,38.268",There is growing evidence that corrective inpu...,N,N,P,people,NaN
13,23703441,4,Italy|USA,-|-,The aim of this study was to breed the sandfli...,Y,N,W,wrong place,should be Iran
14,21707139,4,Germany|Japan|USA,-|-|-,We compared the results for two genetically di...,N,N,A,Animal name,NaN
15,10559668,7,"Basel, Switzerland","7.581,47.56","Copyrightz1999S.KargerAG,Basel",Y,Y,N,correct,NaN
16,16504732,1,"ACT, Australia","149.124,-35.308",Autologous chondrocyte transplantation (ACT) h...,N,N,B,Biological term,NaN
17,19731262,14,"Flint, MI, USA","-83.686,43.011",We illustrate our methodology by analyzing dat...,N,N,P,people,NaN
18,2646919,1,"Lima, Peru","-77.046,-12.093",Community-based studies of diarrhea etiology a...,Y,Y,N,correct,NaN
19,11603623,1,"Sicilia, Italy","13.789,37.152",From epidemiological data obtained over more t...,Y,Y,N,correct,NaN
20,18197255,2,Saudi Arabia|USA,-|-,A national survey was conducted in all public ...,Y,N,W,wrong place,Malawi
21,6365548,12,"Paris, France","2.351,48.857","(1976) Biochimie (Paris) 58, 305--316; Ghrir, ...",Y,Y,N,correct,NaN
22,1425964,4,"VIC, Australia","145.469,-36.559","At 1-100 nM, ET-1, ET-2 and VIC were equipoten...",N,N,B,Biological term,"vasoactive intestinal contractor, VIC can be V..."
23,2564242,8,"Hassall, Cheshire, UK","-2.356,53.114",Scattered staining with these antibodies was i...,N,N,B,Biological term,NaN
24,1435133,5,"Falun, Sweden|Stockholm, Sweden","15.632,60.602|18.064,59.333",Forty-one per cent of the patients in Falun an...,Y,Y,N,correct,NaN
25,11640084,1,"Rovigo, Veneto, Italy","11.79,45.071","Minadois was born in Rovigo, son of a physicia...",Y,Y,N,correct,NaN
26,19641300,5,"Philadelphia, PA, USA","-75.162,39.952",One patient was Philadelphia chromosome positi...,N,N,B,Biological term,NaN
27,23468229,8,"Spain|GU, USA",-|-,TTV2Hn93 strain was classified into subtype TT...,N,N,B,Biological term,NaN
28,14755451,7,Italy|USA,-|-,The present study indicates that the IDE gene ...,Y,N,W,wrong place,Japan
29,6657512,7,"Argo, IL, USA","-90.018,42.004",Argo-Met-enkephalin inhibited enkephalin break...,N,N,B,Biological term,NaN
...,...,...,...,...,...,...,...,...,...,...
70,26138883,11,"Basel, Switzerland","7.581,47.56","Copyright 2015 S. Karger AG, Basel.",Y,Y,N,correct,NaN
71,10571001,2,"Waterman, IL, USA","-88.773,41.769",The new analysis is based on the more sensitiv...,N,N,M,method,NaN
72,10564313,2,"Norwood, OH, USA|Norwood, NJ, USA|Norwood, MA,...","-84.454,39.162|-73.949,40.994|-71.2,42.196|138...",The question is whether or not ECMO is indicat...,N,N,M,method,Norwood procedure
73,6324167,2,"Okayama, Japan","133.92,34.67",A library of cDNA clones was constructed from ...,N,N,P,people,NaN
74,1396667,4,"Dalton, GA, USA","-84.972,34.761","Dalton Trans., 1962-1965]. 1H-NOE experiments ...",N,N,P,people,NaN
75,26120867,3,"Bundibugyo, Uganda","30.065,0.710",We investigated the susceptibility of Egyptian...,Y,Y,N,correct,But not all
76,1165737,1,"Melbourne, VIC, Australia","144.963,-37.814",First permanent molar teeth extracted during 1...,Y,Y,N,correct,NaN
77,6649341,5,"Washington, DC, USA","-77.032,38.89",White Swiss mice which consumed a daily diet c...,N,N,A,Animal name,NaN
78,26127452,12,"Feldkirchen, MâÂºnchen, Germany","11.731,48.149",This work was in part sponsored by corporate f...,Y,Y,N,correct,NaN
79,14760373,2,"Villejuif, Paris, France","2.367,48.795",The characteristics and outcome of 25 patients...,Y,Y,N,correct,NaN
80,10557545,1,"Merrill, WI, USA","-89.694,45.181",Professor Richard Merrill contends that the Fe...,N,N,P,people,NaN
81,11696850,1,"San Antonio, TX, USA","-98.495,29.424","Trypanosoma cruzi (Schyzotrypanum, Chagas, 190...",Y,Y,N,correct,NaN
82,19795073,2,"Wadsworth, OH, USA|Wadsworth, Leavenworth, KS,...","-81.73,41.024|-94.9,39.278|-87.922,42.557",The key step involves a Horner-Wadsworth-Emmon...,N,N,M,method,NaN
83,1203968,3,Canada|Tunisia,-|-,The axons of retinula cells 1-6 (numbered acco...,N,N,P,people,NaN
84,23107460,3,"Shunan, Yamaguchi, Japan","131.823,34.068",A cross-sectional study was conducted for 2513...,N,N,M,method,NaN
85,1417986,5,"Kââbenhavn, Denmark","12.568,55.676",Further investigations of ALDH induction by st...,N,N,A,Animal name,NaN
86,11603621,4,"Sardegna, Italy","8.98,40.086","Interestingly, MS in Sardinia is linked to oth...",Y,Y,N,correct,NaN
87,21829913,1,"Porto Alegre, Rio Grande do Sul, Brazil","-51.228,-30.034","This study aims to describe the design, method...",Y,Y,N,correct,NaN
88,2978984,3,"North Yorkshire, UK|West Yorkshire, UK|PA, USA...","-1.388,54.092|-1.643,53.8|-|-1.38,53.88|-0.477...",Sixteen Yorkshire pigs at 6 weeks of age had n...,N,N,A,Animal name,NaN
89,11606783,4,"Monte-Carlo, Monaco, Monaco","7.426,43.74",The structures in this database are improved i...,N,N,M,method,NaN
90,10535527,2,"Barcelona, Spain","2.17,41.388",The study group consisted of 134 men and 109 w...,Y,Y,N,correct,NaN
91,810082,4,"Sendai, Miyagi, Japan","140.89,38.26",Topical treatment with a 5% aqueous solution o...,N,N,B,Biological term,NaN
92,23109941,8,"Yasuj, Kohgiluyeh and Boyer-Ahmad, Iran","51.588,30.668",No significant correlation was found between s...,Y,Y,N,correct,NaN
93,25161406,2,"Ibadan, Oyo State, Nigeria","3.904,7.375",Initial pre-hospital intervention given by car...,Y,Y,N,correct,NaN
94,23360569,1,"Shiga, Japan","135.92,35.19",Shiga toxin-producing Escherichia coli O157:H7...,N,N,B,Biological term,NaN
95,23690754,6,"Rotterdam, Zuid-Holland, Netherlands","4.471,51.923",We hypothesized that asymptomatic carriage in ...,Y,Y,N,correct,NaN
96,6321784,10,"OR, USA|Russia",-|-,"Sci., U.S.A., 78:6684-6688, 1981) were detecte...",N,N,I,Journal ID,NaN
97,1412073,8,"Stockholm, Sweden","18.064,59.333",Other factors influencing the final decision w...,Y,Y,N,correct,NaN
98,14982710,8,"Newport, WA, USA|Newport, CA, USA|Newport, TN,...","-117.044,48.183|-123.772,39.581|-83.184,35.967...",Newport has become the leading menthol brand i...,N,N,D,brand name,NaN
99,942855,8,"Dordrecht, Zuid-Holland, Netherlands","4.668,51.811",The new kinetic data are consistent with a mod...,Y,Y,N,correct,Not sure

In [17]:
sample['Place_or_no']=='Y'

0     False
1     False
2     False
3      True
4     False
5     False
6      True
7      True
8      True
9      True
10     True
11    False
12    False
13     True
14    False
15     True
16    False
17    False
18     True
19     True
20     True
21     True
22    False
23    False
24     True
25     True
26    False
27    False
28     True
29    False
      ...
70     True
71    False
72    False
73    False
74    False
75     True
76     True
77    False
78     True
79     True
80    False
81     True
82    False
83    False
84    False
85    False
86     True
87     True
88    False
89    False
90     True
91    False
92     True
93     True
94    False
95     True
96    False
97     True
98    False
99     True
Name: Place_or_no, Length: 100, dtype: bool